.photographFigure {
  margin: 0 2rem;
  text-align: center;
}

.photographFigure img {
  display: block;
  width: 100%;
  max-height: calc(100vh - 14rem);
  min-height: 20rem;
  max-width: 2048;
  object-fit: contain;
}

.photographCaption {
  padding: 1rem 0;
  text-align: center;
}