.pageContainer {
  display: flex;
  flex-direction: column;
}

.photographFigure {
  padding: 1rem;
  margin: 0;
}

.photographFigure img {
  display: block;
  width: 100%;
  max-height: calc(100vh - 3rem);
  height: auto;
  object-fit: contain;
}

.photographCaption {
  padding: 1.5rem;
  text-align: center;
}

.name {
  color: var(--foreground-color-muted);
}

.link {
  padding-top: 1.5rem;
  color: var(--foreground-color-muted);
}

.name a,
.link a {
  color: inherit;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .pageContainer {
    flex-direction: row-reverse;
  }

  .photographFigure {
    flex-grow: 1;
    padding: 1.5rem;
  }

  .photographFigure img {
    min-height: 20rem;
    max-height: calc(100vh - 3rem);
    max-width: 2048;
  }

  .photographCaption {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 3rem 1rem 3rem 3rem;
    text-align: left;
    text-wrap: nowrap;
  }
}
