.photographFigure {
  margin: 0 1rem;
}

.photographFigure img {
  display: block;
  width: 100%;
  object-fit: contain;
}

@media (min-width: 768px) {
  .photographFigure img {
    min-height: 20rem;
    max-height: calc(100vh - 14rem);
    max-width: 2048;
  }
}

.photographCaption {
  padding: 1rem 0;
  text-align: center;
}

.detailSwitcher {
  font-style: italic;
  color: var(--foreground-color-muted);
}

.detailSwitcher span {
  display: inline-block;
  cursor: pointer;
}

.detailSwitcher .active {
  color: var(--foreground-color);
}
