@import "https://unpkg.com/modern-normalize@0.6.0/modern-normalize.css";
@import "https://chrstphrknwtn.github.io/eb-garamond/eb-garamond.css";

:root {
  --base-font-features: 'onum', 'pnum';
  --font-weight-regular: 400;
  --font-weight-bold: 500;
  --foreground-color: black;
  --background-color: white;
  --link-background-color: #f4f4f4;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: white;
    --background-color: #010101;
    --link-background-color: #212121;
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 17px;
  line-height: 1.57;
}

body {
  height: 100%;
  margin: 0;
  color: var(--foreground-color);
  font-weight: 400;
  font-family: 'EB Garamond', serif;
  line-height: inherit;
  background-color: var(--background-color);
  font-feature-settings: var(--base-font-features);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: var(--font-weight-regular);
  font-size: 1rem;
}

h1,
h2 {
  font-weight: var(--font-weight-bold);
}

.subhead {
  display: block;
  margin-bottom: 1rem;
  font-weight: var(--font-weight-regular);
  font-size: 0.9rem;
  font-feature-settings: var(--base-font-features), 'smcp', 'c2sc';
  letter-spacing: 0.05em;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: var(--link-background-color);
}

a:hover {
  text-decoration: underline;
}

dt {
  font-weight: var(--font-weight-bold);
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

mark {
  background-color: #ffff33;
}

strong {
  font-weight: var(--font-weight-bold);
}

p {
  margin-bottom: 1rem;
}

ol,
ul {
  margin-bottom: 1rem;
  padding-left: 2rem;
}

ul {
  list-style: none;
}

ul > li {
  position: relative;
}

ul > li::before {
  position: absolute;
  left: -1rem;
  content: '·';
}

/* Typography utils */

.small-caps {
  font-feature-settings: var(--base-font-features), 'smcp', 'c2sc';
}

.tnum {
  font-feature-settings: var(--base-font-features), 'tnum';
}

/* Document */

main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.responsive-container {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

@media (min-width: 646px) { /* 34 x rem (19px) */
  .responsive-container {
    width: 34rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media (min-width: 798px) { /* 42 x rem (19px) */
  .wide .responsive-container {
    width: 42rem;
  }
}

@media (min-width: 988px) { /* 52 x rem (19px) */
  .wide .responsive-container {
    width: 52rem;
  }
}

.site-header {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.site-header h1,
.site-header h2 {
  margin-bottom: 0;
}

.site-header a {
  color: inherit;
  text-decoration: none;
}

.site-content {
  flex-grow: 1;
}

.max-width-content .site-content {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

.site-footer {
  padding-bottom: 2rem;
}

.site-footer p {
  margin-bottom: 0;
}

/* Link Lists */

.linklist {
  margin-top: 0;
  margin-bottom: 3rem;
  padding: 0;
  list-style: none;
}

.linklist li::before {
  content: '';
}

.linklist li > h3 {
  margin-bottom: 0;
}

/* Index */

.index-intro {
  margin-bottom: 3rem;
}

/* Project and Post */

.entry {
  margin-bottom: 8rem;
}

.entry--meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.entry--meta span {
  margin-bottom: 0;
}

.entry h1 {
  margin-bottom: 2rem;
}

.entry p + h2,
.entry dl + h2,
.entry ol + h2,
.entry ul + h2 {
  margin-top: 2rem;
}

/* Tumblrs */

.tumblr-columns-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.tumblr-column {
  width: 33.33%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.tumblr-column:first-child {
  padding-left: 0;
}

.tumblr-column:last-child {
  padding-right: 0;
}

.tumblr-post {
  position: relative;
  display: block;
  margin-bottom: 1rem;
}

.tumblr-post img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

/* Selection */

.selection-intro {
  padding-bottom: 3rem;
}

.photo-section {
  display: flex;
  flex-direction: column;

  /* min-height: 110vh; */
  padding-bottom: 6rem;
  background-color: white;
  border-top: 1px solid #f0f0f0;
}

.photo-section.reverse {
  color: white;
  background-color: black;
  border-top: 1px solid #1a1a1a;
}

.photo-section--header {
  position: sticky;
  top: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: white;
}

.photo-section--header p {
  margin-bottom: 0;
}

.photo-section.reverse .photo-section--header {
  background-color: black;
}

.photo-section--images {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem 1.5rem 1.5rem;
  text-align: center;
}

.photo-section--images a {
  background-color: transparent;
}

.photo-section--images img {
  display: inline-block;
  max-width: 100%;
  max-height: 72vh;
  margin: 1rem 0;
}

@media (min-width: 988px) { /* 52 x rem (19px) */
  .photo-section--images img {
    max-width: 30rem;
    margin: 2rem;
  }

  .photo-section--images.solo img {
    max-width: 70vw;
    max-height: 80vh;
    margin: 2rem;
  }
}

/* Rhizomes */

.rhizome-index-item {
  margin-bottom: 1rem;
}

.rhizome-index-item--title {
  font-weight: var(--font-weight-bold);
}

.rhizome-node {
  margin-bottom: 2rem;
}

.rhizome--node-graph svg {
  width: auto;
}
