@import "https://chrstphrknwtn.github.io/eb-garamond/eb-garamond.css";

:root {
  --base-font-features: 'onum';
  --font-weight-regular: 400;
  --font-weight-bold: 500;

  --foreground-color: black;
  --background-color: white;
  --link-background-color: #f4f4f4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: white;
    --background-color: #010101;
    --link-background-color: #181818;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 17px;
}

@media (min-width: 480px) {
  html {
    font-size: 19px;
  }
}

body {
  height: 100%;
  margin: 0 2rem;
  font-family: 'EB Garamond', serif;
  line-height: 1.43;
  color: var(--foreground-color);
  background-color: var(--background-color);
  font-feature-settings: var(--base-font-features);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: var(--font-weight-regular);
}

h1, h2 {
  font-weight: var(--font-weight-bold);
}

.subhead {
  display: block;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  font-weight: var(--font-weight-regular);
  font-feature-settings: var(--base-font-features), 'smcp', 'c2sc';
  letter-spacing: 0.05em;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: var(--link-background-color);
}

a:hover {
  text-decoration: underline;
}

dt {
  font-weight: var(--font-weight-bold);
}

dd {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

mark {
  background-color: #ffff33;
}

strong {
  font-weight: var(--font-weight-bold);
}

p {
  margin-bottom: 1rem;
}

ol,
ul {
  padding-left: 2rem;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
}

ul > li {
  position: relative;
}

ul > li:before {
  position: absolute;
  left: -1rem;
  content: '·';
}

/* Layout */

main {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  min-height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.site-header {
  padding: 2rem 0 3rem 0;
}

.site-header h1,
.site-header h2 {
  margin-bottom: 0;
}

.site-header a {
  color: inherit;
  text-decoration: none;
}

.site-header h2 span {
  font-weight: var(--font-weight-regular);
}

.site-content {
  flex-grow: 1;
}

.site-footer {
  padding-bottom: 2rem;
}

.site-footer p {
  margin-bottom: 0;
}

/* Link Lists */

.linklist {
  list-style: none;
  margin-top: 0;
  margin-bottom: 3rem;
  padding: 0;
}

.linklist li:before {
  content: '';
}

.linklist li h3 {
  margin-bottom: 0;
}


/* Index */

.index-intro {
  margin-bottom: 3rem;
}

/* Project and Post */

.entry {
  margin-bottom: 8rem;
}

.entry--meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.entry--meta span {
  margin-bottom: 0;
}

.entry h1 {
  margin-bottom: 2rem;
}

.entry p {
  text-align: justify;
}

.entry p + h2,
.entry dl + h2,
.entry ol + h2,
.entry ul + h2 {
  margin-top: 2rem;
}
