@import "https://unpkg.com/modern-normalize@0.6.0/modern-normalize.css";
@import "https://chrstphrknwtn.github.io/eb-garamond/eb-garamond.css";

:root {
  --base-font-features: 'onum', 'pnum';
  --font-weight-regular: 400;
  --font-weight-bold: 500;
  --foreground-color: black;
  --background-color: white;
  --link-background-color: #f4f4f4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: white;
    --background-color: #010101;
    --link-background-color: #212121;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 17px;
  line-height: 1.57;
}

body {
  height: 100%;
  margin: 0;
  color: var(--foreground-color);
  font-weight: 400;
  font-family: 'EB Garamond', serif;
  line-height: inherit;
  background-color: var(--background-color);
  font-feature-settings: var(--base-font-features);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#__next {
  height: 100%; 
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: var(--font-weight-regular);
  font-size: 1rem;
}

h1,
h2 {
  font-weight: var(--font-weight-bold);
}

.subhead {
  display: block;
  margin-bottom: 1rem;
  font-weight: var(--font-weight-regular);
  font-size: 0.9rem;
  font-feature-settings: var(--base-font-features), 'smcp', 'c2sc';
  letter-spacing: 0.05em;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: var(--link-background-color);
}

a:hover {
  text-decoration: underline;
}

dt {
  font-weight: var(--font-weight-bold);
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

mark {
  background-color: #ffff33;
}

strong {
  font-weight: var(--font-weight-bold);
}

p {
  margin-bottom: 1rem;
}

p + p {
  margin-top: -1rem;
  text-indent: 1rem;
}

ol,
ul {
  margin-bottom: 1rem;
  padding-left: 2rem;
}

ul {
  list-style: none;
}

ul > li {
  position: relative;
}

ul > li::before {
  position: absolute;
  left: -1rem;
  content: '·';
}

/* Typography utils */

.small-caps {
  font-feature-settings: var(--base-font-features), 'smcp', 'c2sc';
}

.tnum {
  font-feature-settings: var(--base-font-features), 'tnum';
}

/* Link Lists */

.linklist {
  margin-top: 0;
  margin-bottom: 3rem;
  padding: 0;
  list-style: none;
}

.linklist li::before {
  content: '';
}

.linklist li > h3 {
  margin-bottom: 0;
}

/* NProgress */

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--foreground-color);

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 1px;
}